.donate {
  text-align: center;
  font-family: Poppins, sans-serif;
  font-size: 15px;
  line-height: 23px;
  text-align: center;
  color: #3b3b3b;
  font-size: 15px;
  height: 100vh;

  .donationContainer {
    padding: 43px 0 85px 0;
    background: #fff;

    max-width: 400px;
    margin: 0 auto;

    @media only screen and (max-width: 768px) {
      padding: 43px 24px 85px 24px;
    } 

  span {
     color: #a8a8a8;
     font-size: 15px;
  }
  }

}